@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');

:not(pre) {
  font-family: "Fira Code VF", "IBM Plex Mono";
  color: white;
  background: #1F232B;
  text-align: center;
  --yes: #0fbf4dfd;
  --prismic: #5bb498;
  --no: #d11c0f;
  --misc: #e9c810;
} a {
  display: inline-block;
  @at-root nav > &.options {
    text-decoration: none;
    font-size: 20px;
    margin-right: 36px;
    margin-top: 7px;
    text-shadow: 0px 0px 6px white;
    &.curr {
      color: var(--yes) !important;
      text-shadow: 0px 0px 6px var(--yes) !important;
      pointer-events: none;
    } &.wip {
      color: var(--no) !important;
      text-shadow: 0px 0px 6px var(--no) !important;
      cursor: not-allowed;
    }
  }
} nav {
  text-align: right;
} h1 {
  &.title {
    font-size: 50px;
    margin-top: 34px;
    padding-top: 6px;
  } & > span.highl {
    color: var(--prismic);
    text-shadow: 0px 0px 6px var(--prismic);
  }
} button {
  font-size: 17px;
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  border-radius: 50px;
  transition: background 215ms !important;
  margin-bottom: 15px;
  &, & > a {
    text-decoration: none;
    background: #605f57 !important;
  } &:active {
    background: var(--yes);
  } &.help {
    cursor: help;
  }
} div {
  @at-root form > &.sect {
    & > * {
      font-weight: 700;
      margin-right: 10px;
    } & > input {
      border: 1px solid #605f57;
      padding: 1px 2px;
      width: 50px;
      @at-root label, & {
        height: 25px;
      } @at-root pre, &:focus {
        border-radius: 5px;
      }
    }
  } &.error > & {
    font-weight: 700;
    &#success {
      color: var(--yes); 
    } &#failure {
      color: var(--no);
    } &#info {
      color: var(--misc);
    }
  } &.post {
    margin: auto;
    width: 60%;
    border: 3px solid white;
    // border-bottom: 0px !important;
    padding: 10px;
    & > [class], & > div.con > [class] {
      text-align: left;
    } & > div.con > div.author {
      padding-left: 50px;
      color: var(--yes);
    } & > div.con > div.timestamp {
      margin-left: auto;
      color: #aaa;
      text-shadow: 0px 0px 2px #aaa;
      font-size: 12px;
    } & > div.title {
      font-size: 25px;
      text-align: center !important;
    } & > div.content {
      margin-top: 10px;
      color: #aaa;
      text-shadow: 0px 0px 2px #aaa;
      /* overflow magic */
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    } & > div.con {
      display: flex;
      flex-flow: row wrap;
    }
  } & > &.picture {
    padding-bottom: 18px;
  }
}
