doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Prism: The stone social network
    link(rel="stylesheet" href="style/main.css")
    link(rel="icon" href="favicon.svg")
    script(src="/socket.io/socket.io.js")
  body
    nav
      a.options.curr Home
      a.options.wip Post
      a.options.wip My Profile
    h1.title 
      span.highl Home
    div
      //- e
      each val in posts
        div.post
          div.author= val.author
          div.title= val.title
          div.content= val.content