doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Prism: The stone social network
    link(rel="stylesheet" href="style/main.css")
    link(rel="icon" href="favicon.svg")
    script(src="/socket.io/socket.io.js")
  body
    if name
      nav
        a.options.curr Home
        a.options.wip Post
        a.options.wip My Profile
        //
          a.options(href="/chal") This Week's Challenge
          a.otions(href="/leader") Leaderboard
      h1.title 
        span.highl Home
      div
        div.post
          
