doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Prism: The stone social network
    link(rel="stylesheet" href="style/main.css")
    link(rel="icon" href="favicon.svg")
    script(src="/socket.io/socket.io.js")
  body
    if name
      nav
        a.options.curr Home
        a.options.wip Post
        a.options.wip My Profile
      h1.title 
        span.highl Home
      div
        div.post
          // isn't there something called a flexbox or whatever?
          div.author the_creator
          div.title random title
          div.content This is a sample post! By the way, l'é. The quick brown fox jumps over the lazy dog. repl.it is better than replit.com. It is an easier domain to type.         
