doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Prism: The stone social network
    link(rel="stylesheet" href="style/main.css")
    link(rel="icon" href="favicon.svg")
  body
    nav
    //
      a.options(href="/chal") This Week's Challenge
      a.options(href="/leader") Leaderboard
    h1.title Welcome to #[span.highl Prism].
    div
      | The social network, with stones. #[br]
      hr
      div
        h1.title Sign up
        button
          a(href="/signup") Create account
    // h1 #WEEKLY Challenge &numero;#{chal}